@keyframes imageSlide{
    0%, 45% { translate: 0 0; }
    50%, 100% { translate: -100% 0; }
}

@keyframes categorySlide{
    0%, 45% { max-height: fit-content; }
    50%, 100% { max-height: 0; }
}

.foodMenuOverlay{
    --image-size: 30%;

    background-color: var(--clr-white);
    box-sizing: border-box;
    left: 0;
    padding-left: var(--image-size);
    position: fixed;
    top: 0;
    width: 100%;   
    z-index: 1;
}

.overlayImage{
    box-sizing: border-box;
    left: 0;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    width: var(--image-size);
}

.lanchesImage,
.lanchesCategory{
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

.lanchesImage{
    animation-name: imageSlide;
}

.bebidasCategory,
.lanchesCategory{
    & h2{
        background-color: var(--clr-neutral-20);
        color: var(--clr-white);
        padding: .75rem;
        text-align: center;
        text-transform: uppercase;
    }
}

.lanchesCategory,
.bebidasCategory{
    animation-name: categorySlide;
    overflow: hidden;
}

.bebidasCategory{
    animation-delay: 5s;
}

.floatingButton{
    background-color: var(--clr-white);
    border: var(--default-border);
    border-radius: .25rem;
    bottom: 1.5rem;
    left: 1.5rem;
    padding: 1rem;
    position: fixed;
    text-align: center;
    z-index: 2;

    & img{
        height: auto;
        width: 5rem;
    }

    & p{ display: none; }

    &:hover{
        background-color: var(--clr-neutral-90);

        & p{ display: block; }
    }
}