/* .menuList{
    display: flex;
    grid-template-columns: 1fr 1fr;
    column-gap: .5rem;
    padding: .5rem;

    & li{
        border-radius: .25rem;
        box-sizing: border-box;
        padding: .75rem;
        
        &:nth-child(4n + 3),
        &:nth-child(4n){
            background-color: var(--clr-neutral-90);
        }
    }
}

.customerCategory{
    text-align: center;
} */

.foodMenuList{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.foodMenuItem{
    align-items: center;
    background-color: #001A33;
    border-radius: 1rem;
    display: flex;
    gap: 1rem;
    padding-block: .75rem;
    padding-inline: 1.5rem;
}

.itemName {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 1.5rem;
    gap: 1rem;
    text-transform: uppercase;

    :first-child{
        font-size: 2.5rem;
    }
}

.itemPrice{
    background-color: var(--clr-white);
    border-radius: 1rem;
    box-sizing: border-box;
    color: var(--clr-neutral-20);
    font-size: 2.5rem;
    font-weight: 900;
    min-width: 280px;
    padding-block: .75rem;
    text-align: center;
    text-transform: uppercase;

    &.comerciario{
        background-color: #978035;
        color: var(--clr-white);
    }
}