.sidebar{
    background-color: hsl(0, 0%, 97%);
    border-right: 2px solid hsl(0, 0%, 90%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 15rem;
    width: fit-content;
}
    .sidebar__container{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-block: 2rem;
        padding-inline: 1rem;
    }

.user__container{
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 90%);
    border-radius: .25rem;
    display: flex;
    gap: 1rem;
    padding: .5rem;
}

    .user__photo{
        aspect-ratio: 1;
        border-radius: 100vw;
        height: auto;
        object-fit: cover;
        width: 2.5rem;
    }

    .user__name{
        font-size: .875rem;
        font-weight: 600;
    }


.menu{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

    .menu__link{
        display: flex;
        font-weight: 600;
        padding: .5rem;

        &:hover{
            background-color: hsl(0, 0%, 95%);
        }
    }

.sidebar__footer{
    border-top: 2px solid hsl(0, 0%, 90%);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
}

    .logo{
        height: auto;
        width: 4.5rem;
    }

    .footer__title,
    .footer__subtitle{
        font-size: .75rem;
        font-weight: 700;
    }

    .footer__subtitle{
        color: hsl(0, 0%, 40%);
    }