@keyframes leftIn {
    from { translate: -15rem; }
    to { translate: 0; }
}

.sidebar{
    animation: leftIn .25s;
    background-color: var(--clr-neutral-97);
    border-right: var(--default-border);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding-block: 1.5rem;
    padding-inline: 1rem;
    padding-top: calc(var(--header-height) + 1.5rem);
    position: fixed;
    width: 15rem;

    & main{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .user{
            align-items: center;
            background-color: hsl(0, 0%, 100%);
            border: var(--default-border);
            border-radius: .25rem;
            display: flex;
            gap: 1rem;
            overflow: hidden;
            padding: .5rem;
            position: relative;

            &::before{
                align-items: center;
                background-color: hsl(0 0 20 / .75);
                color: var(--clr-white);
                content: 'Sair';
                display: flex;
                height: 100%;
                inset: 0;
                justify-content: center;
                position: absolute;
                transition: translate .5s;
                translate: -100% 0;
                width: 100%;
            }

            &:hover::before{
                translate: 0 0 0;
            }
        }

            .userAvatar{
                align-items: center;
                aspect-ratio: 1;
                background-color: var(--clr-neutral-90);
                border-radius: .25rem;
                display: flex;
                height: auto;
                justify-content: center;
                object-fit: cover;
                width: 2.5rem;
            }
    }

    .footer{
        align-items: center;
        border-top: var(--default-border);
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding-top: 1.5rem;
        text-align: center;
        transition: background-color .25s;
    }

    .logo{
        height: 2rem;
        transition: scale .25s;
        width: auto;

        &:hover{
            scale: 1.10;
        }
    }
}