.cashiers__kpis{
    display: flex;
    gap: .5rem;
}

    .kpi{
        border: 1px solid hsl(0, 0%, 90%);
        border-radius: .25rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding: 1rem;
        width: 100%;
    }

        .kpi__title{
            color: hsl(0, 0%, 40%);
            font-size: .75rem;
            font-weight: 700;
        }

        .kpi__value{
            color: hsl(0, 0%, 20%);
            font-size: 1.25rem;
            font-weight: 600;
        }

.dateRangeGroup{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

    .label{
        font-weight: 700;
    }

    .group{
        display: flex;
        gap: .5rem;
    }

    .input{
        border: 1px solid hsl(0, 0%, 90%);
        border-radius: .25rem;
        color: hsl(0, 0%, 20%);
        font-family: inherit;
        font-size: .875rem;
        padding-block: 1rem;
        padding-inline: .75rem;
    }