.menuList{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: .5rem;
    padding: .5rem;

    & li{
        border-radius: .25rem;
        box-sizing: border-box;
        padding: .75rem;

        &:nth-child(4n + 3),
        &:nth-child(4n){
            background-color: var(--clr-neutral-90);
        }
    }
}