.saleList{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.saleList li{
    border: var(--default-border);
    border-radius: .25rem;
    padding: .5rem;

    &:last-child{
        background-color: var(--clr-neutral-97);
    }
}