.foodMenuItem{
    background-color: var(--clr-neutral-97);
    border-radius: .25rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
    width: 100%;

    & b{
        color: hsl(210, 100%, 40%);
    }
}