.button{
    background-color: hsl(0, 0%, 20%);
    border: none;
    border-radius: .25rem;
    color: #FFF;
    cursor: pointer;
    font-family: inherit;
    font-weight: 600;
    padding-block: .75rem;
    padding-inline: 2rem;
    width: fit-content;

    &.fill{ width: 100%; }
}