.button{
    align-items: center;
    background-color: var(--clr-neutral-20);
    border: none;
    border-radius: .25rem;
    box-sizing: border-box;
    color: #FFF;
    cursor: pointer;
    display: flex;
    font-family: inherit;
    font-weight: 600;
    gap: .5rem;
    justify-content: center;
    padding-block: .75rem;
    padding-inline: 2rem;
    transition: .25s;
    width: fit-content;

    &:disabled{
        background-color: var(--clr-neutral-40);
        cursor: not-allowed;
    }

    &.fillWidth{ width: 100%; }

    &.secondary{
        background-color: var(--clr-white);
        border: 2px solid var(--clr-neutral-20);
        color: var(--clr-neutral-20);
        padding-block: calc(.75rem - 2px);
        padding-inline: calc(2rem - 2px);
    }
}