/* GLOBAL CUSTOM ANIMATIONS */

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

:root{
  --animation-fade-in: fadeIn ease-in;
  scroll-behavior: smooth;
}

html,
body{
  height: 100%;
}

body{
  /* animation: var(--animation-fade-in);
  animation-duration: .25s; */
  color: var(--clr-neutral-20);
  display: flex;
  font-size: .875rem;
  font-weight: 600;
}

/* TYPOGRAPHY GLOBALS */

h2{
  font-size: 1.25rem;
  font-weight: 700;
}

b{font-weight: 700;}

.xsm{font-size: .5rem;}

.sm{font-size: .75rem;}

.md{font-size: 1rem;}

.lg{font-size: 1.25rem;}

/* .clr-text-blue{color: var(--clr-blue-dark);} */

.clr-text-light{color: var(--clr-neutral-40);}

label{
  font-size: .875rem;
  font-weight: 700;
}

/* COLORS GLOBALS */

:root{
  --clr-blue: hsl(210, 100%, 30%);
  /* --clr-blue-dark: #003366; */
  /* --clr-blue-80: #99CCFF; */
  /* --clr-blue-90: #CDE6FF; */
  --clr-blue-97: hsl(210, 100%, 97%);

  --clr-neutral-10: #1A1A1A; 
  --clr-neutral-20: #333333; 
  --clr-neutral-40: #666666;
  --clr-neutral-80: #CCCCCC;
  --clr-neutral-90: #E6E6E6;
  --clr-neutral-97: #F7F7F7;

  --clr-white: #FFF;

  --clr-yellow: #F6BE00;
}

/* GLOBAL CUSTOM PROPERTIES */

:root{
  --default-border: 1px solid var(--clr-neutral-90);
}