html,
body{
  height: 100%;
}

body{
  display: flex;
}

body{
  color: var(--clr-neutral-20);
  font-size: .875rem;
  font-weight: 600;
}

main{
  flex-basis: 100%;
  margin-left: 15rem;
}

/* TYPOGRAPHY GLOBALS */

h2{
  font-size: 1.25rem;
  font-weight: 700;
}

b{font-weight: 700;}

.xsm{font-size: .5rem;}

.sm{font-size: .75rem;}

.md{font-size: 1rem;}

.lg{font-size: 1.25rem;}

/* .clr-text-blue{color: var(--clr-blue-dark);} */

.clr-text-light{color: var(--clr-neutral-40);}

label{
  font-size: .875rem;
  font-weight: 700;
}

/* COLORS GLOBALS */

:root{
  /* --clr-blue: #004C99; */
  /* --clr-blue-dark: #003366; */
  /* --clr-blue-80: #99CCFF; */
  --clr-blue-90: #CDE6FF;
  /* --clr-blue-97: #F0F7FF; */

  --clr-neutral-20: #333333;
  --clr-neutral-40: #666666;
  --clr-neutral-80: #CCCCCC;
  --clr-neutral-90: #E6E6E6;
  --clr-neutral-97: #F7F7F7;

  --clr-white: #FFF;
}