@keyframes openAnimation {
    from { width: 0; }
    to { width: var(--saleAsideWidth); }
}

.aside{
    animation: openAnimation .15s;
    animation-timing-function: ease-in;
    border-left: var(--default-border);
    background-color: hsl(0, 0%, 100%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    margin-top: var(--header-height);
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;

    &.open{
        padding-bottom: 3rem;
        padding-inline: 1rem;
        padding-top: 1.5rem;
        width: var(--saleAsideWidth);
    }
}

main:has(.aside.open){
    --saleAsideWidth: 25rem;
    
    margin-right: var(--saleAsideWidth);
    transition-duration: .15s;
    transition-property: margin-right;
    transition-timing-function: ease-in;
}