.box{
    border: var(--default-border);
    border-radius: .25rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    
    &.fill{ background-color: var(--clr-neutral-97); }

    &.fitContent{ width: fit-content; }
    
    &.gapSm{ gap: .5rem; }

    &.paddingSm{ padding: .5rem; }

    &.hover{
        transition: background-color .25s;
        
        &:hover{ background-color: var(--clr-neutral-97); }
    }
}