.foodTable{
    width: 100%;

    & tbody tr:is(:nth-child(even)){
        background-color: var(--clr-neutral-90);
    }

    & th, & td{
        /* color: var(--clr-white); */
        padding: .5rem;
        text-align: left;
        vertical-align: middle;

        &:is(:first-child){
            /* border-top-left-radius: .5rem;
            border-bottom-left-radius: .5rem; */
            padding-left: 1rem;
        }

        &:is(:last-child){
            /* border-top-right-radius: .5rem;
            border-bottom-right-radius: .5rem; */
            padding-right: 1rem;
        }

        &:not(:first-child){
            text-align: right;
        }
    }

    & td{
        font-size: 1.25rem;
        font-weight: 700;
    }

    & th{
        background-color: var(--clr-neutral-40);
        color: #FFF;
        font-size: 1rem;
        font-weight: 900;
        text-transform: uppercase;
    }
}