.productList{
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(2, 1fr);

    & li{
        transition-duration: .25s;
        transition-property: background-color;

        &:hover{
            background-color: var(--clr-neutral-97);
        }
    }
}