@keyframes topIn {
    from { translate: 0 calc(var(--header-height) * -1); }
    to { translate: 0 0; }
}

.header{
    align-items: center;
    animation: topIn .25s linear;
    background-color: var(--clr-neutral-10);
    border-bottom: 4px solid var(--clr-yellow);
    box-sizing: border-box;
    display: flex;
    height: var(--header-height);
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    
    .logo{
        height: 1.25rem;
        width: auto;
    }

    & a{
        color: var(--clr-white);
        font-size: .75rem;
        text-transform: uppercase;
    }
}