.radioInputLabel{
    background-color: hsl(0, 0%, 90%);
    border-radius: .25rem;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    padding-block: .75rem;
    padding-inline: 1rem;

    &:has(:checked){
        background-color: hsl(0, 0%, 20%);
        color: hsl(0, 0%, 100%);
    }

    .radioInput{
        display: none;
    }
}