
.saleItem{
    border: 1px solid hsl(0, 0%, 90%);
    padding-block: .5rem;
    padding-inline: 1rem;
}

.openButton{
    align-items: center;
    aspect-ratio: 1;
    background-color: hsl(0, 0%, 90%);
    border: none;
    border-radius: 100vw;
    display: flex;
    height: auto;
    justify-content: center;
    width: 1.75rem;
}