.flexbox{
    align-items: center;
    display: flex;
    gap: .5rem;

    &.column{
        align-items: flex-start;
        flex-direction: column;
    }

    &.alignCenter{ align-items: center; }
    
    &.alignEnd{ align-items: end; }

    &.alignStart{ align-items: start; }

    &.fillWidth{ width: 100%; }

    &.gapLg{ gap: 1rem; }

    &.gapSm{ gap: .25rem; }

    &.spaceBetween{ justify-content: space-between; }
}